<header class="header">
    <img alt="Logo of the website" class="header__logo" src="../assets/images/logo/logo.webp">

    <nav class="header__nav">
        <div class="nav__mobile">
            <i class="mobile__icon mobile__icon--open ri-menu-line show" onclick="manageMenu('show')"></i>
            <i class="hide mobile__icon mobile__icon--close ri-menu-4-line" onclick="manageMenu('hide')"></i>
        </div>

        <ul class="nav__list">
            <li>
                <i class="nav__icon ri-home-4-line"></i>
                <a class="link" href="../pages/index" id="link--home">Home</a>
            </li>
            <li>
                <i class="nav__icon ri-user-3-line"></i>
                <a class="link" href="../pages/about-me" id="link--about-me">About me</a>
            </li>
            <li>
                <i class="nav__icon ri-palette-line"></i>
                <a class="link" href="../pages/projects" id="link--projects">Projects</a>
            </li>
            <li>
                <i class="nav__icon ri-mail-line"></i>
                <a class="link" href="../pages/contact" id="link--contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>