# Redirect to the index page
DirectoryIndex /pages/index.php
ErrorDocument 403 /pages/index.php
ErrorDocument 404 /pages/index.php


# Remove the PHP extension
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
</Ifmodule>


# Cache
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|png|webp|css|js)$">
        Header set Cache-Control "max-age=86400"
        Header set X-XSS-Protection "1; mode=block"
        Header always append X-Frame-Options SAMEORIGIN
        Header set X-Content-Type-Options nosniff
        Header always set Strict-Transport-Security "max-age=10080; includeSubDomains; preload" env=HTTPS
    </FilesMatch>
</IfModule>


# Prevents access to the htaccess
<Files .htaccess>
    order allow,deny
    deny from all
</Files>


# Prevent access to resources
Options All -Indexes