/** Container **/
.container {
    max-width: calc(100% - 40px);
    width: 1200px;
}

// Central
.container--central {
    background-color: $transparent-black;
    border-radius: 20px;
    color: $white;
    max-width: calc(100% - 100px);
    padding: 20px 50px;
    z-index: 1;
}

/// Responsive
@media screen and (max-width: 992px) {
    // Central
    .container--central {
        border-radius: unset;
        display: flex;
        flex-direction: column;
        flex-grow: inherit;
        justify-content: center;
        margin: 0 25px;
        max-width: calc(100% - 40px);
        padding: 20px;
        width: 100%;
    }
}