/* Abstracts */ /** Variables **/ /** Mixins **/
/* Base */
/** Fonts **/
@import "../../node_modules/remixicon/fonts/remixicon.css";
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-100.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-100italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-100italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-200.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-200italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-200italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-300.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-300italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-300italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-500italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-500italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-600italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-600italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-700italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-700italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-800.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-800.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-800italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-800italic.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-900.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-900.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: local(""), url("../fonts/Poppins/poppins-v20-latin-900italic.woff2") format("woff2"), url("../fonts/Poppins/poppins-v20-latin-900italic.woff") format("woff");
}
/** General **/
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/** Content **/
* {
  font-family: "Poppins";
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.page__title {
  margin: 20px auto 20px auto;
  text-align: center;
  text-transform: uppercase;
}

/* Components */
/** Links **/
.link {
  color: #00ADFF;
  text-decoration: none;
  transition: 0.5s;
}
.link:hover {
  color: #409E4E;
}
.link.active {
  color: #FCFCFC;
}

@media screen and (max-width: 992px) {
  .link.active {
    color: #0B0B0B;
  }
}
/** Buttons **/
.button {
  align-items: center;
  background-color: #00ADFF;
  border: 2.5px solid transparent;
  border-radius: 5px;
  color: #FCFCFC;
  display: inline-flex;
  font-size: 18px;
  gap: 0 5px;
  justify-content: center;
  max-width: 100%;
  min-width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.5s;
}
.button:hover {
  background-color: #FCFCFC;
  border-color: #00ADFF;
  color: #00ADFF;
  cursor: pointer;
}

.button--secondary {
  background-color: #409E4E;
}
.button--secondary:hover {
  border-color: #409E4E;
  color: #409E4E;
}

/** Boxes **/
.box {
  background-color: #FCFCFC;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
}

.box__title {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.box__list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.box__item--flex {
  display: flex;
}

.box__icon {
  font-size: 24px;
  margin-right: 10px;
}

/** Experiences **/
.experience__category {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.experience {
  border-bottom: 1px solid #C5C5C5;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.experience:last-of-type {
  border-bottom: unset;
  padding-bottom: unset;
}

.experience__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experience__title {
  font-weight: bold;
}

.experience__date {
  font-size: 15px;
}

.experience__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.experience__badge {
  border-radius: 20px;
  color: #FCFCFC;
  font-size: 15px;
  padding: 3px 10px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.experience__badge--place {
  background-color: #409E4E;
}
.experience__badge--link {
  background-color: #00ADFF;
  text-decoration: none;
}

.experience__list {
  font-size: 15px;
  margin: 8.5px 0 0 0;
}

.experience__item--nested {
  list-style: none;
}

@media screen and (max-width: 992px) {
  .experience__header {
    flex-direction: column;
    justify-content: center;
  }
  .experience__title {
    font-size: 15px;
    text-align: center;
  }
  .experience__badges {
    justify-content: center;
    margin: 20px auto 10px auto;
  }
  .experience__badge {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 250px;
  }
  .experience__list {
    padding-left: 20px;
  }
}
/** Project **/
.project {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 250px;
  width: 250px;
  position: relative;
}
.project:hover > .project__content {
  display: flex;
}

.project__preview {
  align-items: center;
  background-color: #FCFCFC;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.0784313725);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.project__image {
  background-color: #FFFFFF;
  height: 100%;
  padding: 0 10px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: calc(100% - 20px);
}

.project__content {
  align-items: center;
  background-color: #FCFCFC;
  display: none;
  flex-direction: column;
  height: calc(100% - 20px);
  justify-content: center;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
}

.project__header {
  display: flex;
  flex-direction: column;
}

.project__name {
  font-weight: bold;
  text-transform: capitalize;
}

.project__footer {
  display: flex;
  flex-direction: column;
}

/* Layout */
/** Header **/
.header {
  align-items: center;
  background-color: #0B0B0B;
  display: flex;
  filter: drop-shadow(1px 2.5px 5px #0B0B0B);
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 125px;
  padding: 0 50px;
  width: calc(100% - 100px);
  z-index: 2;
}

.header__logo {
  width: 266.6666666667px;
}

@media screen and (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 25px 0;
    padding: 12.5px 0;
    width: 100%;
  }
  .header__logo {
    width: 200px;
  }
}
/** Navigation **/
.nav__mobile {
  color: #FCFCFC;
  display: none;
  margin: auto;
  text-align: center;
}

.mobile__icon {
  font-size: 32px;
}
.mobile__icon--close {
  padding-bottom: 10px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav__list > li {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.nav__icon {
  color: #FCFCFC;
}

@media screen and (max-width: 992px) {
  .nav__mobile {
    display: flex;
  }
  .nav__list {
    background-color: #FCFCFC;
    display: none;
    flex-direction: column;
    gap: 25px 0;
    left: 0;
    min-height: calc(100vh - 215px);
    padding: 50px 0 20px 0;
    position: fixed;
    width: 100%;
  }
  .nav__icon {
    color: #0B0B0B;
  }
}
/** Main **/
.main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  padding-bottom: 30px;
  width: 100%;
}

/** Footer **/
.footer {
  align-items: center;
  background-color: #0B0B0B;
  color: #FCFCFC;
  display: flex;
  filter: drop-shadow(1px -2.5px 5px #0B0B0B);
  font-size: 18px;
  font-weight: bold;
  gap: 10px 0;
  justify-content: space-evenly;
  min-height: 85px;
  padding: 0 50px;
  text-align: center;
  width: calc(100% - 100px);
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
}
/** Container **/
.container {
  max-width: calc(100% - 40px);
  width: 1200px;
}

.container--central {
  background-color: rgba(11, 11, 11, 0.7490196078);
  border-radius: 20px;
  color: #FCFCFC;
  max-width: calc(100% - 100px);
  padding: 20px 50px;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .container--central {
    border-radius: unset;
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    justify-content: center;
    margin: 0 25px;
    max-width: calc(100% - 40px);
    padding: 20px;
    width: 100%;
  }
}
/* Pages */
/** Home **/
#home {
  padding-bottom: unset;
}

.home__video {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 127.5px;
  width: 100%;
}

.home__title {
  margin-top: unset;
}

.home__description {
  color: #C5C5C5;
  font-size: 18px;
  margin: 0 auto 25px auto;
  text-align: center;
}

.home__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  #home {
    background-image: url("../images/home/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home__video {
    display: none;
  }
}
/** About **/
.about-me__image {
  border-radius: 20px;
  display: block;
  filter: drop-shadow(0px 0px 2.5px #0B0B0B);
  height: 350px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.about-me__description {
  font-size: 18px;
  margin: 20px auto 20px auto;
  text-align: justify;
}

.about-me__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
  margin-bottom: 80px;
  width: 100%;
}

.about-me__experiences {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .about-me__image {
    border-radius: unset;
    height: 250px;
  }
  .about-me__boxes {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/** Projects **/
.projects__buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.button--frontend-mentor {
  background-color: #FCFCFC;
  background-image: url("../images/projects/buttons/frontend-mentor.webp");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #0B0B0B;
  height: 27px;
  padding: 10px 0;
}
.button--frontend-mentor:hover {
  border-color: #0B0B0B;
}

.projects__error {
  display: none;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

@media screen and (max-width: 992px) {
  .projects__buttons {
    flex-direction: column;
  }
  .projects__buttons > .button {
    min-width: 250px;
  }
}
/** Contact **/
#contact {
  background-image: url("../images/contact/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: unset;
  text-align: center;
}

.contact__description {
  color: #FCFCFC;
  margin: 0 auto 40px auto;
  text-align: center;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 25px;
  margin: unset;
  padding: unset;
}

.contact__item {
  align-items: center;
  display: flex;
  flex: 1 0 calc(50% - 25px);
  flex-direction: column;
}

.contact__icon {
  font-size: 35px;
}

.contact__name {
  align-items: center;
  color: #FCFCFC;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .contact__list {
    flex-direction: column;
  }
}
/** Legal notice **/
#legal-notice {
  align-items: unset;
  text-align: center;
  width: 800px;
}

.legal-notice__type {
  display: flex;
  flex-direction: column;
}

.legal-notice__type:last-of-type > .legal-notice__description {
  text-align: left;
}

.legal-notice__category {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
}

.legal-notice__description {
  margin: 0;
}

.legal-notice__list {
  list-style: none;
  margin: unset;
  padding: unset;
}

/* Vendors *//*# sourceMappingURL=style.css.map */