/** About **/
// Image
.about-me__image {
    border-radius: 20px;
    display: block;
    filter: drop-shadow(0px 0px 2.5px $black);
    height: 350px;
    margin: auto;
    object-fit: cover;
    width: 100%;
}

// Description
.about-me__description {
    font-size: 18px;
    margin: 20px auto 20px auto;
    text-align: justify;
}

// Skills / Hobbies
.about-me__boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    margin-bottom: 80px;
    width: 100%;
}

// Experiences
.about-me__experiences {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    width: 100%;
}

/// Responsive
@media screen and (max-width: 992px) {
    // Image
    .about-me__image {
        border-radius: unset;
        height: 250px;
    }

    // Skills / Hobbies
    .about-me__boxes {
        flex-direction: column;
        width: fit-content;
    }
}